{% extends 'trade/base.html' %}
{% load coins transactions wallet_information value_to_cryptotoken humanize summary_balance static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/highcharts.css' %}">
{% endblock %}
{% block content %}
    <div class="row">

        <div class="col s12 l10 m12 push-l1">
            <h1 class="center">Summary Information</h1>
            {% get_user_summaries user %}
            <ul class="collapsible popout" data-collapsible="accordion">
                {% if ue %}
                    {% for item in ue %}
                        <li id="userexchange-{{ item.pk }}">
                            <div class="collapsible-header">
                                <table class="exchange">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <thead>
                                    <tr class="exchange-header">
                                        <th>Exchange</th>
                                        <th>Total BTC</th>
                                        <th>USD Value</th>
                                        <th>Is Correct</th>
                                        <th>Is Active</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ item.exchange.exchange }}</td>
                                        <td>{{ item.total_btc|floatformat:"-8" }} BTC</td>
                                        <td>{{ item.total_usd|floatformat:"-8" }} USD</td>
                                        <td>
                                            {% if item.is_correct == True %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form>
                                                {% csrf_token %}
                                                <input type="hidden" name="user-exchange" value="{{ item.id }}">
                                                {% if item.is_active == True %}
                                                    <i class="fa fa-check center {% if item.is_correct %}change_status{% endif %} green-text "
                                                       aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-ban center {% if item.is_correct %}change_status{% else %}api-incorrect{% endif %} red-text"
                                                       aria-hidden="true"></i>
                                                {% endif %}
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="collapsible-body">
                                {% get_coins item %}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if uw %}
                    <br/>
                    {% for item in uw %}
                        <li id="userexchange-{{ item.pk }}">
                        <a name="{{ item.wallet.name }}{{ item.pk }}"></a>
                            <div class="collapsible-header">
                                <table class="exchange" width="100%">
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <thead>
                                    <tr class="exchange-header">
                                        <th>Wallet</th>
                                        <th>Balance</th>
                                        <th>USD Value</th>
                                        <th>Last Update</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ item.wallet.name }}<b>@</b>{{ item.address }}</td>
                                        <td>{{ item.balance | value_to_cryptotoken:item }}</td>
                                        <td>{{ item.total_usd|floatformat:"-8" }} USD</td>
                                        <td>{{ item.last_update | naturaltime }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s4 l4 m4">
                                        {% get_wallet_info item %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="col s12 m12 l10 push-l1" id="chart">
            <h2 class="center">Holdings Chart</h2>
            <div id="gra" style="height: 400px; min-width: 310px"></div>
        </div>
        <div class="col s12 m12 l10 push-l1" id="transactions">
            {% if trans %}
                <h2 class="center">Transaction history</h2>
                <table class="exchange z-depth-2 table-bordered">
                    <col width="10%">
                    <col width="10%">
                    <col width="50%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <thead>
                    <tr>
                        <th>Wallet</th>
                        <th>Date</th>
                        <th>User comment</th>
                        <th>Value</th>
                        <th>USD Value</th>
                        <th>Direction</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in trans %}
                        <tr>
                            <td>
                                <a class="scrollto" href="#{{ item.uw.wallet.name }}{{ item.uw.pk }}">
                                    {% if item.uw.wallet.name == 'BTC' %}
                                        <i class="fa fa-btc" aria-hidden="true"></i>
                                    {% elif item.uw.wallet.name == 'ETH' %}
                                        <i class="fa fa-ils" aria-hidden="true"></i>
                                    {% elif item.uw.wallet.name == 'Yandex Money' %}
                                        <i class="fa fa-rub" aria-hidden="true"></i>
                                    {% endif %}
                                    <b>{{ item.uw.wallet.name }}</b>
                                </a>
                            </td>
                            <td>{{ item.date }}</td>
                            <td style="text-align: left">
                                {% if item.user_comment is not None %}
                                    {{ item.user_comment }}
                                {% else %}
                                    <i data-id="{{ item.pk }}" id="trans{{ item.pk }}" class="fa fa-commenting fa-2x"
                                       aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            <td>{{ item.value|value_to_cryptotoken:item.uw }}</td>
                            <td>{{ item.usd_value|floatformat:"-2" }} Usd</td>
                            <td>{% if item.type == 'in' %}
                                <i class="fa fa-chevron-right green-text" aria-hidden="true"></i>
                                <span class="green white-text transaction-type">{{ item.type }}</span>
                            {% elif item.type == 'out' %}
                                <span class="red white-text transaction-type">{{ item.type }}</span>
                                <i class="fa fa-chevron-right red-text" aria-hidden="true"></i>
                            {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="#modal1">
            <i class="large material-icons">playlist_add</i>
        </a>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3 active"><a class="active" href="#exchange">Биржа</a></li>
                        <li class="tab col s3"><a href="#wallet">Кошелёк</a></li>
                    </ul>
                </div>
                <div id="exchange" class="col s12 m12 l12">
                    <br/>
                    <h4 class="center">Добавить биржу</h4>
                    <br/>
                    <p class="alert-new orange lighten-2 white-text center">Для корректной работы, добавляйте только
                        новые ключи для бирж. Создать новые ключи можно на сайте
                        нужной биржи.</p>
                    <form method="post" action="{% url 'exchange' %}">
                        {% csrf_token %}
                        {% for f in exchange_form %}
                            <div class="input-field">
                                {{ f }}
                                {{ f.label_tag }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn waves-effect waves-purple red right">Отправить</button>
                    </form>
                </div>
                <div id="wallet" class="col s12 m12 l12">
                    <br/>
                    <h4 class="center">Добавить кошелёк</h4>
                    <br/>
                    <form method="post" action="{% url 'wallet' %}">
                        {% csrf_token %}
                        {% for f in wallet_form %}
                            <div class="input-field">
                                {{ f }}
                                {{ f.label_tag }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn waves-effect waves-purple red right">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="user_comment_modal" class="modal">
        <form id="comment-form">
            <div class="modal-content">
                <h4>New user comment</h4>
                {% csrf_token %}
                <input type="hidden" name="tr_id">
                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea class="materialize-textarea" name="comment" id="comment" cols="30" rows="10"
                              required></textarea>
                    <label for="comment">Commenting here, please</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-action waves-effect waves-green btn-flat">Agree</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/highstock.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
    <script>
        var seriesOptions = [],
            seriesCounter = 0;
        get_holdings();

        function get_holdings() {
            $.ajax({
                url: '{% url "get_holding" %}?type=names',
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $.each(data, function (i, name) {
                            $.ajax({
                                url: '{% url "get_holding" %}?type=' + name,
                                dataType: 'json',
                                async: !1,
                                success: function (hold) {
                                    seriesOptions[i] = {
                                        name: name,
                                        data: hold
                                    };
                                    seriesCounter += 1;
                                    if (seriesCounter === data.length) {
                                        createChart();
                                    }
                                }
                            });
                        });
                    }
                },
                complete: function (data) {
                    if ('none' === data.responseText) {
                        $('#chart').hide();
                    } else {
                        $('#chart').show();
                    }
                }
            })
        }
        Highcharts.setOptions({
            global: {
                useUTC: false
            },
            lang: {
                weekdays: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                loading: "Загрузка...",
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                numericSymbolMagnitude: 1000,
                numericSymbols: ["k", "M", "G", "T", "P", "E"],
                rangeSelectorFrom: "От",
                rangeSelectorTo: "До",
                rangeSelectorZoom: "Масштаб",
                resetZoom: "Сбросить масштаб",
                resetZoomTitle: "Установить масштаб 1:1",
                shortMonths: ["Янв", "Фев", "Март", "Апр", "Май", "Июнь", "Июль", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                shortWeekdays: ["Вc", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                thousandsSep: " "
            }
        });
        function createChart() {

            Highcharts.stockChart('gra', {
                title: {
                    text: '{% get_user_summaries user %}'
                },
                xAxis: {
                    type: 'datetime',
                    tickInterval: 5000,
                    tickWidth: 0,
                    tickPixelInterval: 150,
                    tickmarkPlacement: 'on',
                    title: {
                        enabled: false
                    }
                },
                chart: {
                    type: 'area',
                    animation: Highcharts.svg
                },
                yAxis: {
                    tickInterval: 0.001
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: true
                },
                plotOptions: {
                    area: {
                        stacking: 'normal',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1
                        }
                    }
                },
                tooltip: {
                    split: false,
                    valueSuffix: ' BTC'
                },
                series: seriesOptions
            });
        }
    </script>
{% endblock %}
