{% extends 'trade/base.html' %}
{% load coins transactions wallet_information value_to_cryptotoken humanize summary_balance %}
{% block content %}
    <div class="row">

        <div class="col s12 l10 m12 push-l1">
            <h1 class="center">Summary Information</h1>
            {% get_user_summaries user %}
            <ul class="collapsible popout" data-collapsible="accordion">
                {% if ue %}
                    {% for item in ue %}
                        <li id="userexchange-{{ item.pk }}">
                            <div class="collapsible-header">
                                <table class="exchange">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <thead>
                                    <tr class="exchange-header">
                                        <th>Exchange</th>
                                        <th>Total BTC</th>
                                        <th>USD Value</th>
                                        <th>Is Correct</th>
                                        <th>Is Active</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ item.exchange.exchange }}</td>
                                        <td>{{ item.total_btc|floatformat:"-8" }} BTC</td>
                                        <td>{{ item.total_usd|floatformat:"-8" }} USD</td>
                                        <td>
                                            {% if item.is_correct == True %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form>
                                                {% csrf_token %}
                                                <input type="hidden" name="user-exchange" value="{{ item.id }}">
                                                {% if item.is_active == True %}
                                                    <i class="fa fa-check center {% if item.is_correct %}change_status{% endif %} green-text "
                                                       aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-ban center {% if item.is_correct %}change_status{% else %}api-incorrect{% endif %} red-text"
                                                       aria-hidden="true"></i>
                                                {% endif %}
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="collapsible-body">
                                {% if item.is_correct %}
                                    {% get_coins item %}
                                {% else %}
                                    <table class="exchange user_coins" id="user_coins">
                                        <thead>
                                        <tr>
                                            <th width="5%">Coin</th>
                                            <th width="10%">Name</th>
                                            <th width="15%">Available</th>
                                            <th></th>
                                            <th width="15%">Btc value</th>
                                            <th width="15%">Last update</th>
                                        </tr>
                                        </thead>
                                        <tbody class="scale-transition scale-out">
                                        <tr>
                                            <td colspan="6">Указаны неверные ключи для подключения к бирже.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if uw %}
                    <br/>
                    {% for item in uw %}
                        <li id="userexchange-{{ item.pk }}">
                            <div class="collapsible-header">
                                <table class="exchange" width="100%">
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <thead>
                                    <tr class="exchange-header">
                                        <th>Wallet</th>
                                        <th>Balance</th>
                                        <th>USD Value</th>
                                        <th>Last Update</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ item.wallet.name }}<b>@</b>{{ item.address }}</td>
                                        <td>{{ item.balance | value_to_cryptotoken:item }}</td>
                                        <td>{{ item.total_usd|floatformat:"-8" }} USD</td>
                                        <td>{{ item.last_update | naturaltime }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s4 l4 m4">
                                        {% get_wallet_info item %}
                                    </div>
                                </div>

                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="col s12 m12 l10 push-l1">
            {% if trans %}
                <h2 class="center">Transaction history</h2>
                <table class="exchange z-depth-2 table-bordered">
                    <col width="5%">
                    <col width="10%">
                    <col width="60%">
                    <col width="10%">
                    <col width="10%">
                    <col width="50%">
                    <thead>
                    <tr>
                        <th>Wallet</th>
                        <th>Date</th>
                        <th></th>
                        <th>Value</th>
                        <th>USD Value</th>
                        <th>Direction</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in trans %}
                        <tr>
                            <td>
                                {% if item.uw.wallet.name == 'BTC' %}
                                    <i class="fa fa-btc" aria-hidden="true"></i>
                                {% elif item.uw.wallet.name == 'ETH' %}
                                    <i class="fa fa-ils" aria-hidden="true"></i>
                                {% elif item.uw.wallet.name == 'Yandex Money' %}
                                    <i class="fa fa-rub" aria-hidden="true"></i>
                                {% endif %}
                                <b>{{ item.uw.wallet.name }}</b></td>
                            <td>{{ item.date }}</td>
                            <td></td>
                            <td>{{ item.value|value_to_cryptotoken:item.uw }}</td>
                            <td>{{ item.usd_value|floatformat:"-2" }} Usd</td>
                            <td>{% if item.type == 'in' %}
                                <i class="fa fa-chevron-right green-text" aria-hidden="true"></i>
                                <span class="green white-text transaction-type">{{ item.type }}</span>
                            {% elif item.type == 'out' %}
                                <span class="red white-text transaction-type">{{ item.type }}</span>
                                <i class="fa fa-chevron-right red-text" aria-hidden="true"></i>
                            {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="#modal1">
            <i class="large material-icons">playlist_add</i>
        </a>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3 active"><a class="active" href="#exchange">Биржа</a></li>
                        <li class="tab col s3"><a href="#wallet">Кошелёк</a></li>
                    </ul>
                </div>
                <div id="exchange" class="col s12 m12 l12">
                    <br/>
                    <h4 class="center">Добавить биржу</h4>
                    <br/>
                    <form method="post" action="{% url 'exchange' %}">
                        {% csrf_token %}
                        {% for f in exchange_form %}
                            <div class="input-field">
                                {{ f }}
                                {{ f.label_tag }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn waves-effect waves-purple red right">Отправить</button>
                    </form>
                </div>
                <div id="wallet" class="col s12 m12 l12">
                    <br/>
                    <h4 class="center">Добавить кошелёк</h4>
                    <br/>
                    <form method="post" action="{% url 'wallet' %}">
                        {% csrf_token %}
                        {% for f in wallet_form %}
                            <div class="input-field">
                                {{ f }}
                                {{ f.label_tag }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn waves-effect waves-purple red right">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}