{% extends 'trade/base.html' %}
{% load coins transactions wallet_information value_to_cryptotoken %}
{% block content %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="#modal1">
            <i class="large material-icons">playlist_add</i>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3 active"><a class="active" href="#exchange">Биржа</a></li>
                        <li class="tab col s3"><a href="#wallet">Кошелёк</a></li>
                    </ul>
                </div>
                <div id="exchange" class="col s12 m12 l12">
                    <br/>
                    <h4 class="center">Добавить биржу</h4>
                    <br/>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="exchange" name="type">
                        {% for f in exchange_form %}
                            <div class="input-field">
                                {{ f }}
                                {{ f.label_tag }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn waves-effect waves-purple red right">Отправить</button>
                    </form>
                </div>
                <div id="wallet" class="col s12 m12 l12">
                    <br/>
                    <h4 class="center">Добавить кошелёк</h4>
                    <br/>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="wallet" name="type">
                        {% for f in wallet_form %}
                            <div class="input-field">
                                {{ f }}
                                {{ f.label_tag }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn waves-effect waves-purple red right">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="center">BALANCES, DEPOSITS & WITHDRAWALS</h3>
        <p>
            <input type="checkbox" id="hidenull"/>
            <label for="hidenull">Не показывать 0 баланс</label>
        </p>
        <ul class="collapsible popout" data-collapsible="accordion">
            {% for item in ue %}
                <li id="userexchange-{{ item.pk }}">
                    <div class="collapsible-header">
                        <table class="exchange">
                            <thead>
                            <tr class="exchange-header">
                                <th width="10%">Имя</th>
                                <th width="10%">Биржа</th>
                                <th width="30%">API</th>
                                <th width="30%">Secret</th>
                                <th width="10%">Is Correct</th>
                                <th width="10%">Is Active</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ item.user }}</td>
                                <td>{{ item.exchange.exchange }}</td>
                                <td>{{ item.apikey | truncatechars:30 }}</td>
                                <td>{{ item.apisecret | truncatechars:50 }}</td>
                                <td>
                                    {% if item.is_correct == True %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <form>
                                        {% csrf_token %}
                                        <input type="hidden" name="user-exchange" value="{{ item.id }}">
                                        {% if item.is_active == True %}
                                            <i class="fa fa-check center {% if item.is_correct %}change_status{% endif %} green-text "
                                               aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-ban center {% if item.is_correct %}change_status{% else %}api-incorrect{% endif %} red-text"
                                               aria-hidden="true"></i>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="collapsible-body">
                        <span class="totalBTC">Total BTC: {{ item.total_btc }}</span>
                        {% if item.is_correct %}
                            {% get_coins item %}
                        {% else %}
                            <table class="exchange user_coins" id="user_coins">
                                <thead>
                                <tr>
                                    <th width="5%">Coin</th>
                                    <th width="10%">Name</th>
                                    <th width="15%">Available</th>
                                    <th></th>
                                    <th width="15%">Btc value</th>
                                    <th width="15%">Last update</th>
                                </tr>
                                </thead>
                                <tbody class="scale-transition scale-out">
                                <tr>
                                    <td colspan="6">Указаны неверные ключи для подключения к бирже.</td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h3 class="center">Wallets</h3>
        {% for item in uw %}
            <div class="col s12 m12 l12">
                <div class="wallet hoverable">
                    <table width="100%">
                        <tr>
                            <td rowspan="2" width="20%">
                                {% if item.wallet.name == 'ETH' %}
                                    <img src="https://developers.coinbase.com/images/mist-logo.png" width="100"
                                         height="100"
                                         alt="eth-coin">
                                {% elif item.wallet.name == 'BTC' %}
                                    <img src="https://cdn3.iconfinder.com/data/icons/inficons-currency-set/512/btc-512.png" width="100"
                                         height="100"
                                         alt="btc-coin">
                                {% elif item.wallet.name == 'Yandex Money' %}
                                    <img src="https://cdn3.iconfinder.com/data/icons/payment-systems-coins/650/yandex-gold.png" width="100"
                                         height="100"
                                         alt="yandex-coin">
                                {% endif %}
                            </td>
                            <td width="60%">
                                <h5>{{ item.wallet.name }} Wallet</h5>
                                <h6>Balance: {{ item.balance | value_to_cryptotoken:item }}</h6>
                            </td>
                            <td rowspan="2">{% get_wallet_info item %}</td>
                        </tr>
                        <tr>
                            <td>Address: {{ item.address }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h6 class="center">История транзакций</h6>
                                {% get_transactions item %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}