{% load value_to_cryptotoken %}
{% if transactions %}
    <table class="transactions-table">
        <thead>
        <tr>
            <th>Block Number</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Type</th>
            <th>Value</th>
{#            <th width="15%">BlockHash</th>#}
            <th width="30%">Hash</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.number }}</td>
                <td>{% if transaction.t_from == item.address %}<b>This Wallet</b>{% else %}{{ transaction.t_from | safe}}{% endif %}</td>
                <td>{% if transaction.t_to == item.address %}<b>This Wallet</b>{% else %}{{ transaction.t_to | safe }}{% endif %}</td>
                <td>{{ transaction.date }}</td>
                <td class="center">
                    {% if transaction.type == 'in' %}
                        <span class="green white-text transaction-type">{{ transaction.type }}</span>
                    {% elif transaction.type == 'out' %}
                        <span class="red white-text transaction-type">{{ transaction.type }}</span>
                    {% endif %}
                </td>
                <td>{{ transaction.value | value_to_cryptotoken:item}}</td>
{#                <td>{{ transaction.block_hash }}</td>#}
                <td>{{ transaction.hash }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <table class="transactions-table">
        <thead>
        <tr>
            <th>Block Number</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Type</th>
            <th>Value</th>
            <th>BlockHash</th>
            <th>Hash</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="8">История транзакций отсутствует</td>
        </tr>
        </tbody>
    </table>
{% endif %}
