{% load value_to_cryptotoken %}
{% if success == 1 %}
    <table width="100%">
        <tr>
            <td><b>Trans total:</b></td>
            <td>{{ total_trans }} РС</td>
        </tr>
        <tr>
            <td><b>In trans total:</b></td>
            <td>{{ in_trans | length }} РС</td>
        </tr>
        <tr>
            <td><b>Out trans total:</b></td>
            <td>{{ out_trans | length }} РС</td>
        </tr>
        <tr>
            <td><b>In trans total value:</b></td>
            <td>{{ in_trans_sum | value_to_cryptotoken:uw }}</td>
        </tr>
        <tr>
            <td><b>Out trans total value:</b></td>
            <td>{{ out_trans_sum | value_to_cryptotoken:uw }}</td>
        </tr>
    </table>
{% else %}
    <span class="alert-block">Информация по данному кошельку отсутствует.</span>
{% endif %}
