{% load tradeBot_filters %}
{% if orders %}
    <h5>Your orders</h5>
{% endif %}
<div class="exchange-coins-block-scroll">
    <table width="100%" id="user_orders">
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>Pair</th>
            <th>Type</th>
            <th>Order number</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Fee</th>
            <th>Fact total</th>
            <th>Fact fee</th>
            <th>Status</th>
            <th>Created</th>
            <th>Canceled/Closed</th>
        </tr>
        </thead>
        <tbody>
        {% for item in orders %}
            <tr class="orders">
                <td>{{ item.pair.main_coin.symbol.upper }}_{{ item.pair.second_coin.symbol.upper }}</td>
                <td>{{ item.order_type }}</td>
                <td>{{ item.order_number }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.fee }}</td>
                <td>{{ item.fact_total }}</td>
                <td>{{ item.fact_fee }}</td>
                <td>{{ item.cancel_desc }}</td>
                <td>{{ item.date_created }}</td>
                <td>{{ item.date_cancel }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="20" class="center">Empty</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>