{% load tradeBot_filters %}
{% if to_trade %}
    <h5>Calculated values</h5>
{% endif %}
<table width="100%" id="calculated_to_trade" class="orders">
    <thead>
    <tr>
        <th>Pair</th>
        <th>Rate</th>
        <th>Type</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Total</th>
        <th>Total + fee</th>
        <th>Fee</th>
        <th>Cause</th>
        <th>Date created</th>
        <th>Date updated</th>
    </tr>
    </thead>
    <tbody>
    {% for item in to_trade %}
        <tr class="orders_to_trade">
            <td>{{ item.user_pair.pair.main_coin.symbol.upper }}_{{ item.user_pair.pair.second_coin.symbol.upper }}</td>
            <td>{{ item.percent_react | multiple:100 | floatformat:'2' }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.total_f }}</td>
            <td>{{ item.fee }}</td>
            <td>{{ item.cause }}</td>
            <td>{{ item.date_created | date:'d.m.Y H:i:s' }}</td>
            <td>{{ item.date_updated | date:'d.m.Y H:i:s' }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="10" class="center">Empty</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
