.chart-info {
    font-size: 0.8rem;
    min-width: 50%;
    float: right;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.btn-mini {
    padding: 1px 6px;
    height: 20px;
    line-height: 20px;
}

.graph-block, .order_table {
    border: 1px slategrey solid;
    background: #fafafa;
}

.exchange-coins-block {
    max-height: 600px;
    border: 1px slategrey solid;
    background: #fafafa;
}

.exchange-coins-block-scroll {
    overflow-y: scroll;
    max-height: 390px;
    font-size: 10px;
}

.header h5 {
    margin-top: 0 !important;
}

.header {
    padding: 10px 0 4px 0;
}

.directions_block {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
}

.priceChangeUp {
    background-color: #ceebd3 !important;
    border-top: 1px double #27892f;
    border-bottom: 1px double #27892f;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.priceChangeDown {
    background-color: #f6d4d1 !important;
    border-top: 1px double #c02a1d;
    border-bottom: 1px double #c02a1d;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#buttons-zoom button, #buttons button {
    margin: -2px;
    border-radius: 0;
    background-image: linear-gradient(#ffffff, #c4d5db);
    background-color: white;
    box-shadow: none;
    border: 1px solid #91abac;
    color: black;
    border-left-width: 0;
    font-size: 11px;
}

#buttons-zoom div button:first-child, #buttons div button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#buttons-zoom div button:last-child, #buttons div button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ui-jqchart-toolbar.ui-widget.ui-widget-content.ui-corner-all {
    position: absolute;
    right: 100px !important;
    left: auto !important;
}