{% load humanize tz pool_info %}
<div class="row">
    <div class="col s12 l10 m12 push-l1">
        <table class="workers" cellspacing="0">
            <col width="7%">
            <col width="10%">
            <col width="7%">
            <col width="8%">
            <col width="7%">
            <col width="8%">
            <col width="7%">
            <col width="7%">
            <col width="7%">
            <col width="7%">
            <col width="7%">
            <col width="10%">
            <col width="7%">
            <thead>
            <tr>
                <th>Worker</th>
                <th>Pools</th>
                <th>Claymore HR base</th>
                <th>HR base details</th>
                <th>Claymore HR sec</th>
                <th>HR sec details</th>
                <th>Temperatures</th>
                <th>Fun speed</th>
                <th>OS Uptime</th>
                <th>Claymore Uptime</th>
                <th>Version</th>
                <th>Ip</th>
                <th>Last update</th>
            </tr>
            </thead>
            <tbody>
            {% for i in workers %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.pools }}</td>
                    <td class="hashrate">{{ i.sum_hr_base }} Mh/s</td>
                    <td>{{ i.hr_details_base }}</td>
                    <td class="hashrate">{{ i.sum_hr_sec }} Mh/s</td>
                    <td>{{ i.hr_details_sec }}</td>
                    <td>{{ i.temperature }}</td>
                    <td>{{ i.fun_speed }}</td>
                    <td>{{ i.uptime|worker_uptime }}</td>
                    <td>{{ i.claymore_uptime|claymore_uptime }}</td>
                    <td>{{ i.claymore_version }}</td>
                    <td>{{ i.ip_address }}</td>
                    <td>{{ i.last_update|timesince }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>