{% load pool_info %}
<table class="exchange">
    <col width="20%">
    <col width="20%">
    <col width="20%">
    <col width="20%">
    <col width="20%">
    <thead>
    <tr>
        <th>Worker</th>
        <th>Pool HR</th>
        <th>Claymore HR base</th>
        <th>OS Uptime</th>
        <th>Claymore Uptime</th>
     </tr>
    </thead>
    <tbody>
    {% for i in workers %}
        <tr>
            <td>{{ i.name }}</td>
            <td class="hashrate">{{ i.reported_hash_rate }} Mh/s</td>
            <td class="hashrate">{{ i.sum_hr_base }} Mh/s</td>
            <td>{{ i.uptime|worker_uptime }}</td>
            <td>{{ i.claymore_uptime|claymore_uptime }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

