{% load pool_info static %}

            <div class="row">
                <div class="col s12 l10 m12 push-l1">
                    {% if pools %}
                        <ul class="collapsible" data-collapsible="expandable">
                            <table class="exchange z-depth-1">
                                <col width="15%">
                                <col width="10%">
                                <col width="15%">
                                <col width="60%">
                                <thead>
                                <tr class="exchange-header">
                                    <th>Name</th>
                                    <th>Active Workers</th>
                                    <th>Hashrate</th>
                                    <th>Address</th>
                                </tr>
                                </thead>
                            </table>
                            {% for pool in pools %}
                                <li>
                                    <div class="collapsible-header green lighten-5">
                                        <table class="exchange">
                                            <col width="15%">
                                            <col width="10%">
                                            <col width="15%">
                                            <col width="60%">
                                            <tr>
                                                <td>{{ pool.name }}</td>
                                                <td>{{ pool | amount_workers }}</td>
                                                <td>{{ pool | pool_total_hash }} Mh/s</td>
                                                <td>{{ pool.address }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="collapsible-body">
                                        {% get_pool_workers pool %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div id="gra" style="height: 400px; min-width: 310px"></div>
                </div>
            </div>

