{% load pool_info %}
<table class="exchange">
        <thead>
        <tr>
            <th>Worker</th>
            <th>HashRate</th>
            <th>Last update</th>
            <th>Uptime</th>
        </tr>
        </thead>
        <tbody>
        {% for i in workers %}
            <tr>
                <td>{{ i.name }}</td>
                <td class="hashrate">{{ i.reported_hash_rate }} Mh/s</td>
                <td>{{ i.last_update|timesince }}</td>
                <td>{{ i.uptime|worker_uptime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

